@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

html, body {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:lighter;
	color:#999999;
}

h1 {
	font-size:36px;
	text-transform:uppercase;
	font-family: 'Work Sans', sans-serif;
	margin:0 20px;
}

p {
	margin:0 20px;
}

.navigation {
	border-bottom:1px solid #999999;
}

.inline-block {
	display:inline-block;
	vertical-align:top;
}

.logo {
	width:15%;
	text-align:center;
}

.logo img {
	height:50px;
	float:left;
}

nav {
	width:84%;
}

ul {
	float:right;
}

li {
	display:inline-block;
	padding:10px 20px;
	margin:2px;
	text-transform:uppercase;
}

.heroImg {
	height:600px;
	margin:0;
	overflow:hidden;
}



.heroImg img {
	float:right;
	margin:0;
	width:33%;
}

.content {
	width:500px;
	margin: 100px auto;
}

footer {
	border-top:1px solid #999999;
}

footer ul {
	display:inline-block;
	vertical-align:top;
}

footer ul li {
	padding:0 auto;
}

footer button {
	font-family: 'Work Sans', sans-serif;
	font-size:21px;
	margin:20px;
	padding:10px 20px;
	float:right;
	color:#999999;
	border:1px solid #999999;
	border-radius:20px;
}